.listMusic {
    width: 100%;
    position: absolute;
    bottom: -120%;
    left: 0;
    background: #1c1c1c;
    color: #e0e0e0;
    border-top: solid 3px rgba(116, 117, 101, 0.57);
    border-left: solid 3px rgba(116, 117, 101, 0.57);
    border-right: solid 3px rgba(116, 117, 101, 0.57);
    transition: all .4s ease-out;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 0px rgba(148, 209, 221, 0);
    z-index: 10;
    padding: 0 5px;
}

.listMusic img.blur-img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(12px) brightness(.3);
    opacity: .5;
    z-index: -1;
}

.listMusic.show {
    bottom: -100px;
    box-shadow: 0 0 155px rgba(137, 119, 0, 0.54);
}

.listMusic .headerMusic {
    width: 100%;
    padding: 7px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listMusic .headerMusic i {
    font-size: 1.1rem;
}

.listMusic .headerMusic > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.listMusic .headerMusic > div span {
    font-size: .9rem;
    text-transform: capitalize;
    color: #f9f9f9;
}

.listMusic ul {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    
}

.listMusic ul::-webkit-scrollbar {
    width: 0px;
}

.listMusic ul li {
    border-radius: 15px;
    width: 100%;
    margin: 5px 0;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all .3s ease;
    font-size: .7rem;
}

.listMusic ul li:hover {
    background: rgba(116, 117, 101, 0.09);
}

.listMusic ul li .row {
    padding: 10px 0 0 0;
    margin-right: 5px;
}

.listMusic ul li .row p {
    color: #999;
    font-size: .55rem;
    margin-top: -8px;
}

.listMusic .duration {
    font-size: .6rem;
}

.listMusic ul li.playing {
    background: rgba(116, 117, 101, 0.57);
}